<% include header.ejs %>

<link href="/stylesheets/style.css" rel="stylesheet"></link>
<script src="/javascripts/socket.io.js"></script>

<body>

<div class="container">
    <h5><%= userid %></h5>
    <br><br>
    <h5><%= userName %></h5>
    <br><br>
    <h5><%= major %></h5>
    <br><br>
    <h5><%= degree %> 학년</h5>
    <h5 id="broadcast"></h5>
    <h5 id="roominfo"></h5>
    <h5 id="length"></h5>
    <h5 id="members"></h5>
    <ul id="classes"></ul>

</div>
<button type="button" class="btn btn-danger" onclick="getClassList()">이방에 속한 모든사람 수업 가져오기</button>
<div class="container" style="margin-top: 10%">

    <div class="row">
        <ul id="messages"></ul>
        <form id="messageForm" action="">
            <input style=" padding: 10px; width: 80%;" id="m" autocomplete="off"/>
            <button class="btn btn-default" style="padding: 10px; width: 18%;">Send</button>
        </form>
    </div>

</div>

</body>

<script>
    var username = '<%= userName %>';
    var userID = '<%= userid %>'
    var roomName = "";
    if (username == '오영택' || username == '조주영') {
        roomName = 'test1'
    } else {
        roomName = 'test2'
    }
    var socket = io.connect(window.location.origin);
    var users = []
    $(function () {
        $("#m").focus();
        socket.emit('joinRoom', roomName);
        socket.on('msgAlert', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });

        socket.on('heartbeat', function (msg, room_id, roomlength, roommemberlist, roomidlist) {
            $('#broadcast').html("공지 : " + msg)
            $('#roominfo').html("이 방은 " + room_id + " 입니다")
            users = roomidlist;
            $('#members').html("이 방의 멤버들은 " + roommemberlist + " 입니다")
            $('#length').html("이 방의 멤버숫자는  " + roomlength + " 입니다")
        })

        $('#messageForm').submit(function () {
            if ($('#m').val() != '') {
                socket.emit('sendMsg', $('#m').val());
                $('#m').val('');
            }
            return false;
        });

    });
    function getClassList() {
        for (var i = 0; i < users.length; i++) {
            $.ajax({
                url: '/class/getsch',
                type: 'POST',
                data: {userIDs: users[i]},
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#classes').append($('<li>').text(result[i].CLASSID + result[i].CLASSNAME));
                        console.log("" + result[i].CLASSID + "" + result[i].CLASSNAME)
                    }
                }
            });

        }

    }


</script>


</html>
