<% include header.ejs %>

<link href="/stylesheets/style.css" rel="stylesheet"></link>
<script src="/javascripts/socket.io.js"></script>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-8 text-center">
            <div class="row">
                <h3><p class="text-center"><strong><%= session.major %> <%= session.degree %>
                            학년 <%= session.userName %></strong></p></h3>
                <h4 id="roominfo"></h4>
                <h4>
                    <ul style="list-style-type:none" id="members"></ul>
                    <ul style="list-style-type:none" id="groupmembers"></ul>

                </h4>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" onclick="getClassList('<%= groupid %>')">통합 시간표</button>
                <button type="button" class="btn btn-primary" onclick="moveToGroupCalendar('<%= groupid %>')">그룹 달력
                </button>

            </div>
        </div>
        <div class="col-xs-4">
            <div class="chat_contents">
                <ul id="messages"></ul>
            </div>
            <form id="messageForm" action="">
                <input style=" padding: 10px; width: 80%;" id="m" autocomplete="off"/>
                <button onclick="entering()" class="btn btn-default" style="padding: 10px; width: 18%;">Send
                </button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 id="viewtitle" class="panel-title">제목</h3>
                </div>
                <div id="writer" style=" border-bottom: .5px solid rgb(214, 240, 217);" class="panel-body">작성자</div>
                <div id="viewcontent" class="panel-body">
                    내용
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <table class="table table-bordered table-hover" style="margin-top: 20%">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                </tr>
                <%
                for(var i = 0; i < results.length; i++)
                {
                %>
                <tr onclick="view('<%= results[i].PTI %>', '<%= results[i].PCO %>', '<%= results[i].PW %>')">
                    <td><%= i + 1 %></td>
                    <td><%= results[i].PTI %></td>
                    <td><%= results[i].PW %></td>
                    <td><%= results[i].PT %></td>
                </tr>
                <%
                }
                %>
            </table>
        </div>
        <div style="padding-left: 10% " class="col-xs-5">
            <form class="messageform" style="margin:0;padding:0;" method="post" action="/board/write">
                <div class="form-group">
                    <label>제목</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title">
                </div>
                <div class="form-group">
                    <label>내용</label>
                    <textarea style="border: 1px solid #f2f2f2; border-radius:5px;" rows="10" cols="50"
                              class="form-control" id="contents" name="contents"
                              placeholder="Contents"></textarea>
                </div>
                <input type="hidden" name="groupid" value="<%= groupid %>">
                <input type="hidden" name="groupname" value="<%= groupname %>">
                <input type="hidden" name="boardid" value="<%= boardid %>">
                <button style="background-color: #28a4c9" type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    function entering() {
        $(".chat_contents").scrollTop($(".chat_contents")[0].scrollHeight);
    }
    var roomID = '<%= groupid %>';
    var roomname = '<%= groupname %>';
    var socket = io.connect(window.location.origin);
    var users = []
    var username = '<%= session.userName %>'
    $(function () {
        $.ajax({
            url: '/group/getgroupfriend',
            type: 'POST',
            data: {
                roomID: roomID
            },
            success: function (result) {
                $('#groupmembers').html("그룹 멤버")
                console.log(result.length)
                for (var i = 0; i < result.length; i++) {
                        $('#groupmembers').append($('<li>').text(result[i].NAME));
                }
            }
        });

        $("#m").focus();
        socket.emit('joinRoom', roomID);
        socket.on('msgAlert', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });
        socket.on('heartbeat', function (msg, room_id, roomlength, roommemberlist, roomidlist) {
            $('#roominfo').html("그룹 이름 : " + roomname)
            users = roomidlist;
//            $('#length').html("현재 접속 멤버 :  " + roomlength)
            $('#members').html("현재 접속 멤버")
            for (var i = 0; i < roommemberlist.length; i++) {
                $('#members').append($('<li>').text(roommemberlist[i]));
            }
        });
        $('#messageForm').submit(function () {
            if ($('#m').val() != '') {
                socket.emit('sendMsg', $('#m').val());
                $('#m').val('');
            }
            return false;
        });
    });
    function view(posttitle, postcontent, writer) {
        $("#viewtitle").html(posttitle)
        $("#writer").html(writer)
        $("#viewcontent").html(postcontent)
    }
    function getClassList(g_id) {
        location.href = '/class/schedule/?id=' + g_id;
    }
    function moveToGroupCalendar(g_id) {
        location.href = '/class/calendar/?id=' + g_id;
    }
</script>


</html>
