<% include header.ejs %>

<body>

<button type="button" class="btn btn-danger" onclick="logout()">Log out</button>


<div class="container">
    <div>
        <h1><%= session.userName %></h1>
        <br><br>
        <h1><%= session.major %></h1>
        <br><br>
        <h1><%= session.degree %></h1>
        <br><br>
    </div>
    <form>

    </form>
    <table class="table table-bordered table-hover">
        <tr>
            <th>번호</th>
            <th>그룹이름</th>
            <th>방장이름</th>
            <th>생성날짜</th>
        </tr>
        <%
        for(var i = 0; i < results.length; i++)
        {
        %>
        <tr>
            <td><%= i + 1 %></td>
            <td>
                <a onclick="moveToChat('<%= results[i].GROUPID %>', '<%= results[i].GROUPNAME %>')"><%= results[i].GROUPNAME %></a>
            </td>
            <td><%= results[i].NAME %></td>
            <td><%= results[i].CREATEDATE %></td>
        </tr>
        <%
        }
        %>
    </table>

    <div>
        <button type="button" class="btn btn-danger" onclick="createGroup()">그룹페이지 생성</button>
        <button type="button" class="btn btn-danger" onclick="moveToClass()">수업페이지 이동</button>
        <button type="button" class="btn btn-danger" onclick="moveToCalendar()">달력페이지 이동</button>
        <button type="button" class="btn btn-danger" onclick="moveToMessages()">쪽지함으로 이동</button>
        <!--<button type="button" class="btn btn-danger" onclick="moveToBoard()">게시판</button>-->

    </div>

</div>

</body>

<script type="text/javascript">
    function moveToChat(id, name) {
        location.href = "/group/?id=" + id + "&name=" + name;
    }
    function logout() {
        location.href = "/logout";
    }
    function moveToClass() {
        location.href = "/class";
    }
    function createGroup() {
        var groupname = prompt("그룹 이름 입력");
        if (groupname != null) {
            console.log("그룹생성완료")
            location.href = "/group/create/?name=" + groupname;
        }
    }
    function moveToCalendar() {
        alert("달력페이지로 갑시다!");
        location.href = "/calendar";
    }
    function moveToMessages() {
        location.href = "/messages"
    }
</script>


</html>
