<% include header.ejs %>

<body>

<button type="button" class="btn btn-danger" onclick="logout()">Log out</button>


<div class="container">
    <div>
        <h1><%= userName %></h1>
        <br><br>
        <h1><%= major %></h1>
        <br><br>
        <h1><%= degree %></h1>
        <br><br>
    </div>
    <form>

    </form>
    <table class="table table-bordered table-hover">
        <tr>
            <th>번호</th>
            <th>그룹이름</th>
        </tr>
        <%
        for(var i = 1; i < 4; i++)
        {
        %>
        <tr>
            <td><%= i %></td>
            <td><a onclick="moveToChat(<%= i %>)"><%= i %></a></td>
        </tr>
        <%
        }
        %>
    </table>

    <div>
        <button type="button" class="btn btn-danger" onclick="createGroup()">그룹페이지 생성</button>
        <button type="button" class="btn btn-danger" onclick="moveToClass()">수업페이지 이동</button>
        <button type="button" class="btn btn-danger" onclick="moveToCalendar()">달력페이지 이동</button>
    </div>

</div>

</body>

<script type="text/javascript">
    function moveToChat(id) {
        location.href = "/group/?id=" + id;
    }
    function logout() {
        location.href = "/logout";
    }
    function moveToClass() {
        location.href = "/class";
    }
    function createGroup() {
        var newid = prompt("그룹 이름 입력");
        if (newid != null) {
            console.log("그룹생성완료")
            location.href = "/group/create/?id=" + newid;
        }
    }
    function moveToCalendar() {
        alert("달력페이지로 갑시다!");
        location.href = "/calendar";
    }
</script>


</html>
